{% load static %} {% include 'navbar.html'%}


<section class="container-fluid mx-auto">
  <h1 class="w-50 mx-auto text-center pt-5">Categories</h1>
  {% if object_list %}
  <div class="row w-75 mx-auto my-5 servicio-fila">
 <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card" href="">
        <img src="{{object_list.0.imagen.url}}" alt="trago 1" />
        <div class="card-body">
          <h5 class="card-title text-center">{{object_list.0.nombre}}</h5>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img src="{{object_list.1.imagen.url}}" alt="trago 1" />
        <div class="card-body">
          <h5 class="card-title text-center">{{object_list.1.nombre}}</h5>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img src="{{object_list.2.imagen.url}}" alt="trago 1" />
        <div class="card-body">
          <h5 class="card-title text-center">{{object_list.2.nombre}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row w-75 mx-auto my-5 servicio-fila">
    <div class="col-lg-4 col-md-12 col-sm-12">
         <div class="card" href="">
           <img src="{{object_list.3.imagen.url}}" alt="trago 1" />
           <div class="card-body">
             <h5 class="card-title text-center">{{object_list.3.nombre}}</h5>
           </div>
         </div>
       </div>
   
       <div class="col-lg-4 col-md-12 col-sm-12">
         <div class="card">
           <img src="{{object_list.4.imagen.url}}" alt="trago 1" />
           <div class="card-body">
             <h5 class="card-title text-center">{{object_list.4.nombre}}</h5>
           </div>
         </div>
       </div>
   
       <div class="col-lg-4 col-md-12 col-sm-12">
         <div class="card">
           <img src="{{object_list.5.imagen.url}}" alt="trago 1" />
           <div class="card-body">
             <h5 class="card-title text-center">{{object_list.5.nombre}}</h5>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="row w-75 mx-auto my-5 servicio-fila">
    <div class="col-lg-4 col-md-12 col-sm-12">
         <div class="card" href="">
           <img src="{{object_list.6.imagen.url}}" alt="trago 1" />
           <div class="card-body">
             <h5 class="card-title text-center">{{object_list.6.nombre}}</h5>
           </div>
         </div>
       </div>
   
       <div class="col-lg-4 col-md-12 col-sm-12">
         <div class="card">
           <img src="{{object_list.7.imagen.url}}" alt="trago 1" />
           <div class="card-body">
             <h5 class="card-title text-center">{{object_list.7.nombre}}</h5>
           </div>
         </div>
       </div>
   
       <div class="col-lg-4 col-md-12 col-sm-12">
         <div class="card">
           <img src="{{object_list.8.imagen.url}}" alt="trago 1" />
           <div class="card-body">
             <h5 class="card-title text-center">{{object_list.8.nombre}}</h5>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="row w-75 mx-auto my-5 servicio-fila">
    <div class="col-lg-4 col-md-12 col-sm-12 mx-auto">
      <div class="card">
        <img src="{{object_list.9.imagen.url}}" alt="trago 1" />
        <div class="card-body">
          <h5 class="card-title text-center">{{object_list.9.nombre}}</h5>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 mx-auto">
      <div class="card">
        <img src="{{object_list.10.imagen.url}}" alt="trago 1" />
        <div class="card-body">
          <h5 class="card-title text-center">{{object_list.10.nombre}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>

</section>
  {% else %}
  <h1>No hay registros de bebidas</h1>
  {% endif %}
</section>


<!--    <h1>{{object_list}}</h1>
    <h1>{{object_list.1.nombre}}</h1>-->