{% load static %} 
{% block content %}
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center-dark">
            <span class="col-lg-5 text-warning fs-6 fw-boldstart ">Copyright   &copy; Drinks & People 2021</span>
            <div class="col-lg-3 my- my-lg-0-center">
                <img src="{%static 'assets/img/tw.png' %}" alt="Twitter img" class = "img-responsive" width = "10%"/>
                <img src="{%static 'assets/img/fb.png'%}" alt="Facebook img" class = "img-responsive" width = "10%"/>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
  </footer>

  {% endblock %}