{% extends 'base.html' %} {% load static %}

<!------------------------------------------------------------------>
<!---SLIDER DE IMAGENES-->
<!------------------------------------------------------------------>
{%block content%}
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img
        src="{% static 'assets/img/DrinkCarousel3.jpg' %}"
        class="d-block w-100"
        alt="slide 1"
      />
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img
        src="{% static 'assets/img/DrinkCarousel4.jpg'%}"
        class="d-block w-100"
        alt="slide 2"
      />
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img
        src="{% static 'assets/img/DrinkCarousel5.jpg'%}"
        class="d-block w-100"
        alt="slide 3"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!------------------------------------------------------------------>
<!---INTRO-->
<!------------------------------------------------------------------>

<section class="w-50 mx-auto text-center pt-5">
  <h1 class="p-3 fs-2 border-top border-3">
    Un lugar donde encontraras los mejores
    <span class="text-warning">Cocktails</span>
    <p class="p-3 fs-4">
      <span class="text-warning">Cocktails & Drinks</span> es una pagina que
      busca mostrar los mejores Cocktails seleccionados por la gente
    </p>
  </h1>
</section>

<!------------------------------------------------------------------>
<!---CARDS-->
<!------------------------------------------------------------------>

{% include 'cards.html'%}
<!-- {% for i in all_bebidas %}
<h1>{{i}}</h1>
{%endfor%} -->

<!------------------------------------------------------------------>
<!---ACERCA DE-->
<!------------------------------------------------------------------>

<section class="container">
  <div class="w-50 m-auto text-center" id="equipo">
    <h1 class="mb-5 fs-2">
      Estudiantes de <span class="text-warning">Ingenieria Informatica</span>
    </h1>
  </div>
  <p class="fs-4">
    Esta pagina fue desarrollada por estudiante de la carrera de Ingeieria
    Informatica de la Universidad Blas Pascal como trabajo final en la materia
    Laboratorio 3
  </p>
</section>

{% endblock %}
